/* SELECTOR UNIVERSAL para resetear las configuraciones por defecto*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-color: #578F79;
}

body{
    width: 1024px;
    margin: auto;
    background-color:#EFFFF9;
}

main{
    border-radius: 4px;
    align-self: center;
    /* border: 10px solid grey; */
    padding: 20px 35px;
    background-color:#E8FAF3;
}

.parrafo_1 {
    color: chocolate;
    font-size: 30px;
}

#parrafo_2 {
    color: blue;
    font-size: 20px;
}

.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: cadetblue;
}

.main-nav_item{
    display: inline-block;
}

/* CLASE ESPECÍFICA se llama a la etiqueta clase y se agrega la etiqueta que está dentro de esa clase*/
.main-nav_item a {
    color: white;
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
    background-color: red;
}

/* SEUDOCLASES se agrega dos puntos luego de la clase */
.main-nav_item a:hover {
    color: black;
}

.main-nav_item a:active {
    color: goldenrod;
}

/* SEUDOELEMENTOS se ponen dos veces los dos puntos */
.main-nav_item a::after {
    content: " | ";
}

/* COMBINADOR HERMANO ADYACENTE (ADJACENT SIBLING), APLICA LAS DECLARACIONES A P QUE ESTA CERCA DE H2 */
/* h2 + p {
    color: red;
} */

/* COMBINADOR HERMANO GENERAL (GENERAL SIBLING)
APLICA LAS DECLARACIONES A TODAS LAS P CERCANAS DE H2 EN EL MISMO CONTENEDOR
NO IMPORTA SIN NO ESTÁN ADYACENTES*/
/* h2 ~ p {
    color: red;
} */

/* COMBINADOR HIJOS DIRECTOS (CHILD) APLICA LAS DECLARACIONES A TODAS LAS P HIJAS
DIRECTAS DEL CONTENEDOR SECTION*/
article > p {
    color: red;
}

/* COMBINADOR DESCENDIENTES APLICA LAS DECLARACIONES A TODAS LAS P QUE ESTEN DENTRO
DEL CONTENEDOR SECTION*/
section p {
    color: red;
}

