header{
    background-color: #578F79;
    width: 800px;
    padding: 2%;
    margin: 0 auto;
    color: white;
}

body{
    width: 1024px;
    margin: 0 auto;
    background-color:#E8FAF3;
}

main{
    width: 800px;
    padding: 2%;
    margin: 0 auto;
    background-color:white;
}