/* SELECTOR UNIVERSAL para resetear las configuraciones por defecto*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-color: #578F79;
}

body{
    background-color:#E8FAF3;
}

main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
    background-color:white;
}

.parrafo_1 {
    color: chocolate;
    font-size: 30px;
}

#parrafo_2 {
    color: blue;
    font-size: 20px;
}

.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: cadetblue;
}

.main-nav_item{
    display: inline-block;
}

/* CLASE ESPECÍFICA se llama a la etiqueta clase y se agrega la etiqueta que está dentro de esa clase*/
.main-nav_item a {
    color: white;
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
    background-color: red;
}

/* SEUDOCLASES se agrega dos puntos luego de la clase */
.main-nav_item a:hover {
    color: black;
}

.main-nav_item a:active {
    color: goldenrod;
}

/* SEUDOELEMENTOS se ponen dos veces los dos puntos */
.main-nav_item a::after {
    content: " | ";
}
